<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
<label lang="en">Last Seen</label>
<label lang="de">CustomLastSeen</label>
<version>1.0.0</version>
<copyright></copyright>
<license></license>
<link>https://www.bay20.com/</link>
<author>Bay20</author>
<compatibility minVersion="5.2.0" />

</plugin>