<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="select" >
            <name>active</name>
            <label lang="de">Aktiver Preisstatus</label>
            <label lang="en">Active Price Status</label>
            <value>1</value>
            <store>
                <option>
                    <value>1</value>
                    <label lang="en">Yes</label>
                    <label lang="de">Ja</label>
                </option>
                <option>
                    <value>0</value>
                    <label lang="en">No</label>
                    <label lang="de">Nein</label>
                </option>
            </store>
        </element>
    </elements>
</config>
